---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
		<a href="/about/">About</a>
		<h1>About Me:</h1>

		<p>
			I am a senior at Bowdoin College graduating in May 2023, 
			with a degree in computer science and art history, currently 
			looking for post-graduation software engineering and robotics 
			opportunities.
		</p>

	</body>
</html>