---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
---

<BaseLayout pageTitle = {pageTitle}>
 <h3>My name is Ramiro Storni and I am an aspiring robotics engineer</h3>
</BaseLayout>
