---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle = {pageTitle}>
  <h2>Hi Im Rami, Welcome to my website</h2>
  <p> This is where i like to put all of the things I've made.</p>
</BaseLayout>