---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Projects";
---
<BaseLayout pageTitle = {pageTitle}>
	<h2>Check out all the cool things I've made!</h2>

	<ul>
		<li><a href="/posts/post-1/">Thread Library</a></li>
		<li><a href="/posts/post-2/">Disk Scheduler</a></li>
		<li><a href="/posts/post-3/">2D platformer</a></li>
	</ul>

	<p>This astro project is one of them </p>  

	<script>
		import "../scripts/menu.js"
	</script>
</BaseLayout>


		
