---
const {pageName} = Astro.props;
---
<div class="Nav-links">

    {pageName === "home" ? <a href={`/`}>{pageName}</a> : <a href={`/${pageName}/`}>{pageName}</a>}

</div>
<style>
    a{
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }
</style>